.booking-button {
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    transition: all 0.5s ease;
}

.booking-button:hover {
    font-size: 1.1rem !important;
    background-color: greenyellow;
}