.Home h1 {
  font-family: "Do Hyeon";
  color: greenyellow;
  font-size: 5rem;
}

.Home p {
  letter-spacing: 2px;
}

@media only screen and (max-width: 1200px) {
  .Home .bg-paint {
    width: 90% !important;
  }
}

@media only screen and (max-width: 567px) {
  .Home .bg-paint {
    width: 100% !important;
  }

  .Home .bg-paint p {
    font-size: 1.1rem !important;
  }

  .Home h1 {
    font-size: 3.5rem;
  }
}
