.Dates {
    background-color: rgba(82, 9, 146, 0.35);
    animation: fadeInRight;
    animation-duration: 1s;
    width: 100vw;
    height: 60vh;
    position: fixed;
    right: 0;
    top: 25%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.cities {
    display: flex;
    column-gap: 12vmin;
    text-transform: uppercase;
    color: greenyellow;
    font-size: 5vmin;
    margin-right: 20vmin;
    justify-content: center;
}

.cities h3 {
    background-image: url('/public/assets/paint.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: .5vmin 0;
}

.city {
    width: 40vmin;
}

.city li {
    font-family: 'Roboto Mono', monospace;
    color: white;
    line-height: 1.5;
    font-size: 2vmin;
}

.city h6 {
    font-size: 3vmin;
    margin-top: 6vmin;
    margin-bottom: 0;
    color: greenyellow;
}

.dates {
    margin: -2.5vmin;
    font-weight: 500;
}

.past-date {
    opacity: 60%;
    font-weight: 300;
}

iframe {
    width: 60%;
    height: 12vmin;
    border-radius: 10px;
    filter: invert(1) saturate(0) drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
    border: none;
    margin: 1vmin 2vmin;
}

@media only screen and (max-width: 1500px) {

    .Dates {
        justify-content: center;
        height: 50vh;
        top: 25%;
    }

    .cities {
        margin: 0 auto;
        column-gap: 5vmin;
    }

    .cities h3 {
        font-size: 6vmin;
    }

    .cities li {
        font-size: 2.5vmin;
    }

    .city {
        width: 45vmin;
    }

    .city h6 {
        font-size: 3.5vmin;
    }

}

@media only screen and (max-width: 500px) {

    .Dates {
        justify-content: center;
        align-items: center;
        height: 55vh;
    }

    .cities {
        margin: 0 auto;
        margin-top: -6vmin;
    }

    .cities h3 {
        font-size: 8vmin;
    }

    .cities li {
        font-size: 3.5vmin;
    }

    .city h6 {
        font-size: 5vmin;
        margin-top: 10vmin;
    }

    iframe {
        width: 85%;
        height: 25vmin;
        margin: 3vmin;
    }
    
}