.Dates {
  height: 100vh;
}

.Dates iframe {
  width: 75%;
}

.accordion-header span {
  width: 12rem;
}

.accordion {
  --bs-accordion-bg: rgba(82, 9, 146, 0.35) !important;
}

.accordion-item {
  border: none !important;
}

.accordion-button, button:focus:not(:focus-visible) {
  border-bottom: 1px solid rgba(82, 9, 146, 0.5) !important;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(82, 9, 146, 0.35) !important;
  box-shadow: none !important;
}

button:focus:not(:focus-visible) {
  outline: none !important;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.salon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .Booking .col-6 {
    margin: auto;
  }

  .Dates iframe {
    width: 50%;
  }
}

@media only screen and (max-width: 567px) {
  .Dates iframe {
    width: 80%;
  }

  .travel-dates {
    font-size: 0.8rem;
  }

  .salon {
    font-size: 1.1rem;
  }

  .accordion-header span {
    width: 10rem;
    font-size: 2rem !important;
  }

  .accordion {
    --bs-accordion-bg: rgba(82, 9, 146, 0.5) !important;
  }
}
