.Dates {
  height: 100vh;
}

.Dates iframe {
  width: 100%;
}

.salon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .travel-dates {
    text-align: center;
  }

  .Booking .col-6 {
    margin: auto;
  }
}

@media only screen and (max-width: 567px) {
  .Dates {
    overflow: scroll !important;
  }

  .Dates .row {
    margin-top: 40rem !important;
  }

  .Dates iframe {
    width: 75%;
  }

  .travel-dates {
    font-size: 0.8rem;
  }

  .salon {
    font-size: 1.1rem;
  }
}
