@font-face {
  font-family: Do Hyeon;
  src: url("../../../public/fonts/dohyeon.ttf");
}

@font-face {
  font-family: Canopee;
  src: url("../../../public/fonts/Canopee.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

.App {
  background-image: url("../../../public/assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: deeppink;
  min-height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.bg-transparent-purple {
  background-color: rgba(82, 9, 146, 0.35);
}

.bg-paint {
  background: center no-repeat url("../../../public/assets/paint.png");
  background-size: contain;
}

.text-neon {
  color: greenyellow;
}

.text-navy {
  color: navy;
}

.canopee {
  font-family: "Canopee", serif;
}

.roboto {
  font-family: "Roboto Mono";
}

i {
  background: linear-gradient(greenyellow, navy);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.9) 0px 30px 60px -30px,
    rgba(10, 37, 64, 1) 0px -2px 6px 0px inset;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 10px;
  color: #fff;
}

iframe {
  border-radius: 10px;
  filter: invert(1) saturate(0) drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

@media only screen and (max-width: 1500px) {
  .App {
    background-image: url("../../../public/assets/bg-mobile.png");
  }
}
