@font-face {
  font-family: Glamour Karlina;
  src: url('../../../public/fonts/karlina.ttf');
}

* {
  box-sizing: border-box;
}

html {
  background-image: url('../../../public/assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: deeppink;
  min-height: 100%;
  overflow: hidden;
  font-family: 'Glamour Karlina', serif;
}

body {
  animation: fadeIn;
  animation-duration: 2s;
}

a {
  text-decoration: none;
}

.home, .home h1 {
  position: absolute;
  right: 50%;
  top: 45%;
  right: 10%;
  animation: fadeInRight;
  animation-duration: 2s;
}

.home img {
  width: 70vmin;
  z-index: 1;
}

.home h1 {
  z-index: 2;
  margin: -4vmin -4vmin 0 0;
  text-align: center;
}
